.mb_8 {
  margin-bottom: 8px;
}

.mb_48 {
  margin-bottom: 48px;
}

.mb_24 {
  margin-bottom: 24px;
}

.mb_32 {
  margin-bottom: 32px;
}

.header {
  background-image: url("../../img/desktop/header_desktop.jpg");
  background-size: cover;
  padding-top: 295px;
  padding-bottom: 115px;
}
.header-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-title {
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 3rem;
  line-height: 52px;
  text-transform: uppercase;
  color: #ffffff;
}
.header-text {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 28px;
  letter-spacing: 0.31em;
  color: #ffffff;
}

.header-search {
  display: inline-flex;
  position: relative;
  padding-bottom: 211px;
}

.search-input {
  padding-top: 18.5px;
  padding-bottom: 18.5px;
  padding-right: 190px;
  padding-left: 36px;
  outline: none;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 20px;
  color: #999999;
  width: 647px;
  transition: all 0.25s;
}
.search-input:focus {
  transform: scale(1.01);
}
.search-input:focus + .search-btn {
  border-radius: 50%;
  padding-right: 10px;
  padding-left: 10px;
}
.search-btn {
  display: flex;
  align-items: center;
  position: absolute;
  border: none;
  right: 5px;
  top: 4px;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-right: 24px;
  padding-left: 24px;
  background-color: #5373FD;
  font-family: "Aleo";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.25s;
}
.search-btn:hover {
  opacity: 0.9;
}
.search-img {
  padding-right: 12px;
}

::-moz-placeholder {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #999999;
  width: 100%;
  padding-right: 100px;
}

::placeholder {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #999999;
  width: 100%;
  padding-right: 100px;
}

.scroll-button {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.2em;
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.scroll-img {
  width: 14px;
  height: 16px;
  margin: 0 auto;
}

.navigation {
  background-color: #5373FD;
  padding-bottom: 24px;
  padding-top: 23px;
}
.navigation-title {
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 9px;
}
.navigation-menu {
  display: flex;
  gap: 40px;
}
.navigation-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item {
  font-family: "Aleo";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  color: #ffffff;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: all 0.25s;
  letter-spacing: 1.33px;
}

.menu-item:hover {
  transform: scale(1.1);
  box-shadow: 4px 3px 4px 0px #486BFE;
}

.why {
  background-image: url(../../img/desktop/Why_Background_desktop.jpg);
  background-size: cover;
  padding-bottom: 124px;
  padding-top: 124px;
}
.why-body {
  display: flex;
  justify-content: space-between;
}

.choose-title {
  font-family: "Aleo";
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 40px;
  color: #ffffff;
  padding-top: 67px;
}
.choose-photos:nth-child(1) {
  margin-bottom: 16px;
}
.choose-photos:nth-child(1) {
  margin-left: -110px;
}
.choose-text {
  font-family: "Josefin Sans";
  font-weight: 300;
  line-height: 28px;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: #ffffff;
  max-width: 558px;
}
.choose-photos {
  display: block;
}

.steps {
  background-color: #333333;
  width: 100%;
  background-image: url(../../img/Line.svg);
  padding-top: 140px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 80px;
  padding-bottom: 44px;
}
.steps-item {
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
}
.steps-item__img {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}
.steps-item__title {
  font-family: "Aleo";
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 40px;
  color: #ffffff;
  white-space: nowrap;
}
.steps-list {
  display: flex;
  justify-content: center;
  gap: 179px;
  background-color: #333333;
}

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

img {
  vertical-align: top;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style: none;
}

.container {
  max-width: 1160px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

@media screen and (max-width: 1025px) {
  .container {
    max-width: 980px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 769px) {
  .container {
    max-width: 740px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 577px) {
  .container {
    max-width: 560px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
  }
}
/* aleo-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/aleo-v11-latin-regular.woff2") format("woff2"), url("../fonts/aleo-v11-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* josefin-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/josefin-sans-v25-latin-300.woff2") format("woff2"), url("../fonts/josefin-sans-v25-latin-300.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* josefin-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/josefin-sans-v25-latin-regular.woff2") format("woff2"), url("../fonts/josefin-sans-v25-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* josefin-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/josefin-sans-v25-latin-500.woff2") format("woff2"), url("../fonts/josefin-sans-v25-latin-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* josefin-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/josefin-sans-v25-latin-700.woff2") format("woff2"), url("../fonts/josefin-sans-v25-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.btn {
  display: inline-flex;
}
.btn-link {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 32.5px;
  padding-left: 32.5px;
  background-image: url(../../img/Button.svg);
  font-family: "Aleo";
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  line-height: 20px;
  opacity: 1;
}
.btn-link:hover {
  opacity: 0.9;
}
.btn-link:active {
  opacity: 1;
}/*# sourceMappingURL=index.css.map */