.mb_8 {
  margin-bottom: 8px;
}

.mb_48 {
  margin-bottom: 48px;
}

.mb_24 {
  margin-bottom: 24px;
}

.mb_32 {
  margin-bottom: 32px;
}

.mb_16 {
  margin-bottom: 16px;
}

.mb_60 {
  margin-bottom: 60px;
}

.mb_8 {
  margin-bottom: 8px;
}

.mb_20 {
  margin-bottom: 20px;
}

.header {
  background-image: url("../../img/desktop/header_desktop.jpg");
  background-size: cover;
  padding-top: 295px;
  padding-bottom: 115px;
}
.header-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-title {
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 3rem;
  line-height: 52px;
  text-transform: uppercase;
  color: #ffffff;
}
.header-text {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 28px;
  letter-spacing: 0.31em;
  color: #ffffff;
  text-align: center;
}

.header-search {
  display: inline-flex;
  position: relative;
  padding-bottom: 211px;
}

.search-input {
  padding-top: 18.5px;
  padding-bottom: 18.5px;
  padding-right: 190px;
  padding-left: 36px;
  outline: none;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 20px;
  color: #999999;
  width: 647px;
  transition: all 0.25s;
}
.search-input:focus {
  transform: scale(1.01);
}
.search-input:focus + .search-btn {
  border-radius: 50%;
  padding-right: 10px;
  padding-left: 10px;
}
.search-btn {
  display: flex;
  align-items: center;
  position: absolute;
  border: none;
  right: 5px;
  top: 4px;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-right: 24px;
  padding-left: 24px;
  background-color: #5373FD;
  font-family: "Aleo";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.25s;
}
.search-btn:hover {
  opacity: 0.9;
}
.search-img {
  padding-right: 12px;
}

::-moz-placeholder {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #999999;
  width: 100%;
}

::placeholder {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #999999;
  width: 100%;
}

.scroll-button {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 0.2em;
  animation-name: bounce;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.scroll-img {
  width: 14px;
  height: 16px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .search-input {
    max-width: 540px;
  }
}
@media screen and (max-width: 590px) {
  .search-input {
    max-width: 400px;
  }
}
@media screen and (max-width: 420px) {
  .search-input {
    max-width: 295px;
  }
}
.navigation {
  background-color: #5373FD;
  padding-bottom: 24px;
  padding-top: 23px;
  position: sticky;
  top: 0;
}
.navigation-wrapper {
  position: sticky;
  top: 0;
}
.navigation-title {
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 9px;
}
.navigation-menu {
  display: flex;
  gap: 40px;
}
.navigation-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item {
  font-family: "Aleo";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
  color: #ffffff;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: all 0.25s;
  letter-spacing: 1.33px;
  white-space: nowrap;
}

.menu-item:hover {
  transform: scale(1.1);
  box-shadow: 4px 3px 4px 0px #486BFE;
}

@media screen and (max-width: 1025px) {
  .navigation-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
  }
}
@media screen and (max-width: 576px) {
  .navigation-menu {
    display: none;
  }
  .navigation-body {
    flex-direction: column;
  }
}
.navigation-menu.active {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 24px;
}

.why {
  background-image: url(../../img/desktop/Why_Background_desktop.jpg);
  background-size: cover;
  padding-bottom: 124px;
  padding-top: 124px;
}
.why-body {
  display: flex;
  justify-content: space-between;
}

.choose-title {
  font-family: "Aleo";
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 40px;
  color: #ffffff;
  padding-top: 67px;
}
.choose-photos:nth-child(1) {
  margin-bottom: 16px;
}
.choose-photos:nth-child(1) {
  margin-left: -110px;
}
.choose-text {
  font-family: "Josefin Sans";
  font-weight: 300;
  line-height: 28px;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: #ffffff;
  max-width: 558px;
}
.choose-photos {
  display: block;
}

@media screen and (max-width: 1025px) {
  .why-body {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 1025px) {
  .why-photos {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1025px) {
  .why-choose {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
@media screen and (max-width: 1025px) {
  .choose-photos:nth-child(1) {
    margin-bottom: 0px;
  }
  .choose-photos:nth-child(1) {
    margin-left: 0px;
  }
  .choose-text {
    max-width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .choose-photos {
    max-width: 258px;
    max-height: 162px;
  }
}
@media screen and (max-width: 550px) {
  .why {
    padding-top: 60px;
  }
  .why-photos {
    flex-direction: column;
    gap: 24px;
    align-items: center;
  }
}
.steps {
  background-color: #333333;
  width: 100%;
  background-image: url(../../img/Line.svg);
  padding-top: 140px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 80px;
  padding-bottom: 44px;
}
.steps-item {
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
}
.steps-item__img {
  width: 64px;
  height: 64px;
  margin: 0 auto;
}
.steps-item__title {
  font-family: "Aleo";
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 40px;
  color: #ffffff;
  white-space: nowrap;
}
.steps-list {
  display: flex;
  justify-content: center;
  gap: 179px;
  background-color: #333333;
}

@media screen and (max-width: 1025px) {
  .steps-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 59px;
  }
  .steps {
    background-image: none;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.spain-left {
  padding-top: 220px;
  padding-bottom: 120px;
  background-image: url(../../img/desktop/apartament_dekstop_1360px.jpg);
  background-size: cover;
  background-position: center;
}
.spain-right {
  padding-top: 220px;
  padding-bottom: 120px;
  background-image: url(../../img/desktop/sea_desktop_1360px.jpg);
  background-size: cover;
  background-position: center;
}
.spain-subtitle {
  font-family: "Josefin Sans";
  font-weight: 300;
  line-height: 28px;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: #ffffff;
  font-size: 20px;
}
.spain-text {
  font-family: "Josefin Sans";
  font-weight: 300;
  line-height: 28px;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: #ffffff;
  max-width: 494px;
}
.spain-title {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
}
.spain-body__left {
  padding: 44px 32px 44px 32px;
  background: rgba(35, 35, 35, 0.9);
  max-width: 558px;
}
.spain-body__right {
  display: flex;
  justify-content: flex-end;
}

.body-container {
  background: rgba(35, 35, 35, 0.9);
  padding: 44px 32px 44px 32px;
}

@media screen and (max-width: 1025px) {
  .spain-body__left {
    max-width: 720px;
    margin: 0 auto;
  }
  .spain-body__right {
    max-width: 720px;
    display: block;
    margin: 0 auto;
  }
  .spain-text {
    max-width: 656px;
  }
}
.tourist {
  background-image: url(../../img/desktop/tourist_bg_desktop_1360px.jpg);
  padding-top: 120px;
  padding-bottom: 180px;
  background-size: cover;
}
.tourist-title {
  font-family: "Aleo";
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
}
.tourist-text {
  font-family: "Josefin Sans";
  font-weight: 300;
  line-height: 28px;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.tourist-sam__blog {
  display: flex;
  justify-content: center;
}

.sam-text {
  padding: 48px 60px 48px 60px;
  background-color: #333333;
  max-width: 760px;
}
.sam-title {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 28px;
  color: #ffffff;
  text-transform: uppercase;
}

.quote-img {
  position: relative;
  bottom: 8px;
  margin-right: 6px;
}

@media screen and (max-width: 1025px) {
  .tourist-sam__blog {
    display: block;
  }
}
@media screen and (max-width: 1359px) {
  .sam-text {
    max-width: 640px;
  }
}
@media screen and (max-width: 1024px) {
  .tourist-body {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 1024px) {
  .sam-text {
    max-width: 720px;
  }
}
.footer {
  background-color: #000000;
  padding-top: 80px;
  padding-bottom: 80px;
}
.footer-title {
  font-family: "Josefin Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-text {
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2em;
  color: #FFFFFF;
}
.footer-body {
  display: flex;
  justify-content: center;
}
.footer-body__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-list {
  display: flex;
  gap: 32px;
}

.path {
  fill: #ffffff;
}

.list-item:hover path {
  fill: #5373FD;
  transition: all 0.25s;
}

.burger-menu {
  position: absolute;
  right: 18px;
  display: none;
}
.burger-menu.click {
  display: block;
}
.burger-line {
  display: flex;
  width: 40px;
  height: 2px;
  background-color: #ffffff;
  transition: all 0.25s;
}
.burger-line:first-child {
  position: relative;
  bottom: 9px;
  height: 2px;
}
.burger-line:last-child {
  position: relative;
  top: 9px;
  height: 2px;
}

.burger-menu.click .burger-line:nth-child(1) {
  transform: rotateZ(45deg) translateY(16px) translateX(3px);
  transition: all 0.25s;
}

.burger-menu.click .burger-line:nth-child(2) {
  opacity: 0;
}

.burger-menu.click .burger-line:nth-child(3) {
  transform: rotateZ(-45deg) translateY(-13px) translateX(1px);
  transition: all 0.25s;
}

.body-container__burger {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 595px) {
  .burger-menu {
    display: block;
  }
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

img {
  vertical-align: top;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  list-style: none;
}

.container {
  max-width: 1160px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

@media screen and (max-width: 1025px) {
  .container {
    max-width: 980px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 769px) {
  .container {
    max-width: 740px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 577px) {
  .container {
    max-width: 560px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
  }
}
/* aleo-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/aleo-v11-latin-regular.woff2") format("woff2"), url("../fonts/aleo-v11-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* josefin-sans-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/josefin-sans-v25-latin-300.woff2") format("woff2"), url("../fonts/josefin-sans-v25-latin-300.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* josefin-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/josefin-sans-v25-latin-regular.woff2") format("woff2"), url("../fonts/josefin-sans-v25-latin-regular.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* josefin-sans-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/josefin-sans-v25-latin-500.woff2") format("woff2"), url("../fonts/josefin-sans-v25-latin-500.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* josefin-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/josefin-sans-v25-latin-700.woff2") format("woff2"), url("../fonts/josefin-sans-v25-latin-700.woff") format("woff"); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.btn {
  display: inline-flex;
}
.btn-link {
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 32.5px;
  padding-left: 32.5px;
  background-image: url(../../img/Button.svg);
  font-family: "Aleo";
  font-weight: 400;
  font-size: 1rem;
  color: #ffffff;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  line-height: 20px;
  opacity: 1;
}
.btn-link:hover {
  opacity: 0.9;
}
.btn-link:active {
  opacity: 1;
}

.--book {
  padding-right: 56.5px;
  padding-left: 56.5px;
}/*# sourceMappingURL=index.css.map */