
.btn {
    display: inline-flex;

    &-link {
        padding-bottom: 20px;
        padding-top: 20px;
        padding-right: 32.5px;
        padding-left: 32.5px;
        background-image: url(../../img/Button.svg);
        font-family: 'Aleo';
        font-weight: 400;
        font-size: to-rem($fz-16px);
        color: $c-white;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        line-height: 20px;
        opacity: 1;

    }


    &-link:hover {
        opacity: 0.9;
    }

    &-link:active {
        opacity: 1;
    }

}


