.header {
    background-image: url("../../img/desktop/header_desktop.jpg");
    background-size: cover;
    padding-top: 295px;
    padding-bottom: 115px;

    &-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &-title {
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-size: to-rem($fz-48px);
    line-height: 52px;
    text-transform: uppercase;
    color: $c-white;
    }

    &-text {
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: to-rem($fz-22px);
    line-height: 28px;
    letter-spacing: 0.31em;
    color: $c-white;
    }
}

.header-search {
    display: inline-flex;
    position: relative;
    padding-bottom: 211px;
}

.search {
    &-input {
        padding-top: 18.5px;
        padding-bottom: 18.5px;
        padding-right: 190px;
        padding-left: 36px;
        outline: none;
        font-family: 'Josefin Sans';
        font-weight: 400;
        font-size: to-rem($fz-20px);
        line-height: 20px;
        color: $c-gray;
        width: 647px;
        transition: all 0.25s;
    }

    &-input:focus {
        transform: scale(1.010);
    }

    &-input:focus + &-btn {
        border-radius: 50%;
        padding-right: 10px;
        padding-left: 10px;
    }

    &-btn {
        display: flex;
        align-items: center;
        position: absolute;
        border: none;
        right: 5px;
        top: 4px;
        padding-bottom: 16px;
        padding-top: 16px;
        padding-right: 24px;
        padding-left: 24px;
        background-color: $c-main-bl;
        font-family: 'Aleo';
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $c-white;
        cursor: pointer;
        transition: all 0.25s;
    }

    &-btn:hover {
        opacity: 0.9;
    }

    &-img {
        padding-right: 12px;
    }
}


::placeholder {
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: to-rem($fz-14px);
    line-height: 20px;
    letter-spacing: 0.2em;
    color: $c-gray;
    width: 100%;
    padding-right: 100px;
}

.scroll-button {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: to-rem($fz-14px);
    line-height: 20px;
    text-decoration: none;
    color: $c-white;
    letter-spacing: 0.2em;
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

.scroll-img {
    width: 14px;
    height: 16px;
    margin: 0 auto;
}