.navigation {
    background-color: $c-main-bl;
    padding-bottom: 24px;
    padding-top: 23px;

    &-title {
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $c-white;
    padding-top: 9px;
    }

    &-menu {
        display: flex;
        gap: 40px;
    }

    &-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

.menu-item {
    @include navText;
    transition: all 0.25s;
    letter-spacing: 1.33px;

}

.menu-item:hover {
    transform: scale(1.1);
    box-shadow: 4px 3px 4px 0px #486BFE;
}

@media screen and (max-width: 1025px){
    .navigation-body {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 32px;
    }
    }
    
@media screen and (max-width: 576px){
    .navigation-menu {
        display: none;
    }
}

