$c-white: #ffffff;
$c-main-bl:#5373FD;
$c-black:#000000;
$c-gray:#999999;
$c-dark-gray:#333333;
$fz-14px: 14px;
$fz-16px: 16px;
$fz-20px: 20px;
$fz-22px: 22px;
$fz-24px: 24px;
$fz-36px: 36px;
$fz-48px: 48px;

.mb_8 {
    margin-bottom: 8px;
}

.mb_48 {
    margin-bottom: 48px;
}

.mb_24 {
    margin-bottom: 24px;
}

.mb_32 {
    margin-bottom: 32px;
}