.spain {
    &-left {
        padding-top: 220px;
        padding-bottom: 120px;
        background-size: cover;
        background-position: center;
    }

    &-right {
        padding-top: 220px;
        padding-bottom: 120px;
        background-size: cover;
        background-position: center;
    }

    &-subtitle {
        @include text;
        font-size: $fz-20px;
    }

    &-text {
        @include text;
        max-width: 494px;

    }

    &-title {
        @include secondtitleSpain;
    }

    &-body__left {
        padding: 44px 32px 44px 32px;
        background: rgba(35, 35, 35, 0.9);
        max-width: 558px;
    }

    &-body__right {
        display: flex;
        justify-content: flex-end;
    }
}

.body-container {
    background: rgba(35, 35, 35, 0.9);
    padding: 44px 32px 44px 32px;


}

@media screen  and (max-width: 1025px){

    .spain {

        &-body__left {
            max-width: 720px;
            margin: 0 auto;
        }

        &-body__right {
            max-width: 720px;
            display: block;
            margin: 0 auto;
        }

        &-text {
            max-width: 656px;
        }
    }
    
}

@media screen and (max-width: 576px){
    .spain-left {
        background-image: url(../../img/mobile/sea_mobile.jpg);
    }
   
}

@media screen and (min-width: 1024px){
    .spain-left {
        background-image: url(../../img/desktop/sea_desktop_1024px.jpg)
    }
   
}

@media screen and (min-width: 1359px){
    .spain-left {
        background-image: url(../../img/desktop/sea_desktop_1360px.jpg);
    }
   
}

@media screen and (max-width: 1024px){
    .spain-left {
        background-image: url(../../img/laptop/sea_768px.jpg);
    }
   
}


@media screen and (max-width: 576px){
    .spain-rigth {
        background-image: url(../../img/mobile/apartament_mobile.jpg);
    }
   
}

@media screen and (min-width: 1024px){
    .spain-right {
        background-image: url(../../img/laptop/apartament_1024px.jpg);
    }
   
}

@media screen and (min-width: 1359px){
    .spain-right {
        background-image: url(../../img/desktop/apartament_dekstop_1360px.jpg);
    }
   
}

@media screen and (max-width: 1024px){
    .spain-right {
        background-image: url(../../img/laptop/apartament_768px.jpg);
    }
   
}