.steps {
    background-color: $c-dark-gray;
    width: 100%;
    background-image: url(../../img/Line.svg);
    padding-top: 140px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 80px;
    padding-bottom: 44px;



    &-item {
        display: inline-flex;
        flex-direction: column;
        gap: 20px;
    }

    &-item__img {
        width: 64px;
        height: 64px;
        margin: 0 auto;
    }

    &-item__title {
        @include sectionNametitle;
        white-space: nowrap;
    } 

    &-list {
        display: flex;
        justify-content: center;
        gap: 179px;
        background-color: #333333;
    }

}