.tourist {
    padding-top: 120px;
    padding-bottom: 180px;
    background-size: cover;

    &-title {
        @include sectionNametitle;
        text-align: center;
    }

    &-text {
        @include text;
    }

    &-sam__blog {
        display: flex;
        justify-content: center;
    }


}

.sam {

    &-text {
        padding: 48px 60px 48px 60px;
        background-color: $c-dark-gray;
        max-width: 760px
    }

    &-title {
        @include secondtitleSpain;
    }

}

.quote-img {
    position: relative;
    bottom: 8px;
    margin-right: 6px;
}

@media screen and (max-width: 1025px){
    .tourist-sam__blog {
        display: block;
    }
    
}

@media screen and (max-width: 1359px){
    .sam-text {
        max-width: 640px;
    }
    
}

@media screen and (max-width: 1024px){

    .tourist-body {
        display: flex;
        align-items: center;
        flex-direction: column;

    }
    
}

@media screen and (max-width: 1024px){
    .sam-text {
        max-width: 720px;
    }
    
}

@media screen and (max-width: 576px){
    .tourist {
        background-image: url(./img/mobile/tourist_mobile.jpg);
    }
   
}

@media screen and (min-width: 1024px){
    .tourist {
        background-image: url(./img/desktop/tourist_bg_desktop_1024px.jpg);
    }
   
}

@media screen and (min-width: 1359px){
    .tourist {
        background-image: url(./img/desktop/tourist_bg_desktop_1360px.jpg);
    }
   
}

@media screen and (max-width: 1024px){
    .tourist {
        background-image: url(./img/laptop/tourist_bg_desktop_768px.jpg);
    }
   
}