.why {
    background-size: cover;
    padding-bottom: 124px;
    padding-top: 124px;
    &-body {
        display: flex;
        justify-content: space-between
    }


}

.choose {
    &-title {
        @include sectionNametitle;
        padding-top: 67px;

    }

    &-photos:nth-child(1) {
        margin-bottom: 16px

    }

    &-photos:nth-child(1) {
        margin-left: -110px;

    }

    &-text {
        @include text;
        max-width: 558px;
    }

    &-photos {
        display:block;
    }
}

@media screen and (max-width: 1025px){
    .why-body {
        display: flex;
        flex-direction: column-reverse;
    }
    }

    @media screen and (max-width: 1025px){
        .why-photos {
            display: flex;
            justify-content: space-between;
        }
        }

        
    @media screen and (max-width: 1025px){
        .why-choose {
            display: block;
            margin: 0 auto;
            text-align: center;
          }
        }

        @media screen and (max-width: 1025px){

            .choose {

            
                &-photos:nth-child(1) {
                    margin-bottom: 0px
            
                }
            
                &-photos:nth-child(1) {
                    margin-left: 0px;
            }

            
                 &-text {
                max-width: 720px;
         }
        }
    }

    @media screen and (max-width: 768px){
        .choose-photos {
            max-width: 258px;
            max-height: 162px;
        }
        
    }

    @media screen and (max-width: 550px){
        .why {
            padding-top: 60px;

            &-photos {
                flex-direction: column;
                gap: 24px;
                align-items: center;
            }
        }
        
    }

    @media screen and (max-width: 576px){
        .why {
            background-image: url(./img/mobile/Why_bg_576px.jpg);
        }
       
    }
    
    @media screen and (min-width: 1024px){
        .why {
            background-image: url(./img/desktop/Why_Background_1024px.jpg);
        }
       
    }
    
    @media screen and (min-width: 1359px){
        .why {
            background-image: url(./img/desktop/Why_Background_1360px.jpg);
        }
       
    }
    
    @media screen and (max-width: 1024px){
        .why {
            background-image: url(./img/laptop/Why_bg_768px.jpg);
        }
       
    }